---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout>
    <section id="projects">
        <p id="lable">My Work</p>
        <h1 id="title">Projects</h1>

        <div id="project-grid">
            <!-- We'll add cards here -->
        </div>
    </section>
</Layout>