---

---
<nav id='navbar'>

        <a href = '/' id = 'logo' >momoiroart</a>

        <ul id = "nav-links">
            <li><a href ='/'>home </a></li>
            <il><a href ='/abot'>about</a></il>
            <li><a href ='/projects'>projrcts</a></li>
    </ul>
</nav>